<!DOCTYPE html>

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>FitLab</title>
    <base href="/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 website landing page for developers and startups">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css">
    <link id="theme-style" rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-- ******HEADER****** -->
    <header id="header" class="header">
        <div class="container">
            <h1 class="logo">
                <a href="/">
                    <span class="logo-icon-wrapper"><img class="logo-icon" src="/images/logo.png" alt=""></span>
                    <span class="text"><span class="highlight">FitLab</span></span>
                </a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a href="subjects">Subjects</a></li>
                        <li class="nav-item"><a href="teachers">Teachers</a></li>
                        <li class="nav-item"><a href="login">Log In</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div id="hero" class="hero-section">

        <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="10000">

            <div class="figure-holder-wrapper">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>

            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#hero-carousel"></li>
                <li data-slide-to="1" data-target="#hero-carousel"></li>
                <li data-slide-to="2" data-target="#hero-carousel"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <!-- Item 1 -->
                <div class="item item-1 active">
                    <div class="item-content container">
                        <div class="item-content-inner">
                            <h2 class="heading">FitLab is a good place<br class="hidden-xs">for students</h2>
                            <p class="intro">It will help you with studies!</p>
                        </div>
                    </div>
                </div>

                <!-- Item 2 -->
                <div class="item item-2">
                    <div class="item-content container">
                        <div class="item-content-inner">

                            <h2 class="heading">Need some help with test, exams or homework?</h2>
                            <p class="intro">FitLab Can help you!</p>

                        </div>
                    </div>
                </div>

                <!-- Item 3 -->
                <div class="item item-3">
                    <div class="item-content container">
                        <div class="item-content-inner">

                            <h2 class="heading">Want to choose subjects?</h2>
                            <p class="intro">It is easy now!</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div id="features" class="features-section">
        <div class="container text-center">
            <h2 class="section-title">How does it work</h2>
            <p class="intro">FitLab will help you with your studies</p>

            <div class="tabbed-area row">

                <!-- Nav tabs -->
                <ul class="feature-nav nav nav-pill nav-stacked text-left col-md-4 col-sm-6 col-xs-12 col-md-push-8 col-sm-push-6 col-xs-push-0" role="tablist">
                    <li role="presentation" class="active"><a href="#feature-1" aria-controls="feature-1" role="tab" data-toggle="tab">Register at the site</a></li>
                    <li role="presentation"><a href="#feature-2" aria-controls="feature-2" role="tab" data-toggle="tab">Browse courses</a></li>
                    <li role="presentation"><a href="#feature-3" aria-controls="feature-3" role="tab" data-toggle="tab">Browse teachers</a></li>

                    <li role="presentation"><a href="#feature-4" aria-controls="feature-4" role="tab" data-toggle="tab">View your timetable</a></li>

                    <li role="presentation"><a href="#feature-5" aria-controls="feature-5" role="tab" data-toggle="tab">Chat with others on the forum</a></li>

                    <li role="presentation"><a href="#feature-6" aria-controls="feature-6" role="tab" data-toggle="tab">Put reviews and rate for other students</a></li>

                </ul>

                <!-- Tabs -->
                <div class="feature-content tab-content col-md-8 col-sm-6 col-xs-12 col-md-pull-4 col-sm-pull-6 col-xs-pull-0">
                    <div role="tabpanel" class="tab-pane fade in active" id="feature-1">
                        <a ><img class="img-responsive" style="height: 400px;" src="content/src/main/resources/static/images/feature-1.png" alt="screenshot"></a>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="feature-2">
                        <a><img class="img-responsive" style="height: 400px;" src="content/src/main/resources/static/images/feature-2.png" alt="screenshot"></a>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="feature-3">
                        <a ><img class="img-responsive" style="height: 400px;" src="content/src/main/resources/static/images/feature-3.png" alt="screenshot"></a>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="feature-4">
                        <a ><img class="img-responsive" style="height: 400px;"  src="content/src/main/resources/static/images/feature-4.png" alt="screenshot"></a>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="feature-5">
                        <a><img class="img-responsive" style="height: 400px;" src="content/src/main/resources/static/images/feature-5.png" alt="screenshot"></a>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="feature-6">
                        <a><img class="img-responsive" style="height: 400px;" src="content/src/main/resources/static/images/feature-6.png" alt="screenshot"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <section id="social-media">
        <div class="container text-center">
            <p>Contact us</p>
            <div class="social-icons">
                <a href="#"><img src="content/src/main/resources/static/images/face.png" /></a>
                <a href="#"><img src="content/src/main/resources/static/images/tel.png" /></a>
                <a href="#"><img src="content/src/main/resources/static/images/inst.png" /></a>
            </div>
        </div>
    </section>

    <!-- Javascript -->
    <script type="text/javascript" src="content/src/main/resources/static/assets/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="content/src/main/resources/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="content/src/main/resources/static/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="content/src/main/resources/static/assets/js/main.js"></script>

</body>
</html> 

