<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css">
    <link id="theme-style" rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>


    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;

            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }


</script>
<body>
<header id="header" class="header">
    <div class="container">
        <h1 class="logo">
            <a href="/">
                <span class="logo-icon-wrapper"><img class="logo-icon"  src="/images/logo.png" alt=""></span>
                <span class="text" ><span class="highlight">FitLab</span></span>
            </a>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="login">Log In</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<div id="features" class="container1">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for subjects..">

    <ul id="myUL">
        <tr th:each="subject : ${subject}">
            <li><a th:href="${'subjects/' + subject.getCode()}">
                <td  th:text="${subject.getName()}">
                    Name
                </td>
            </a>
            </li>
        </tr>
    </ul>

</div>
<div class="adder">
    <form method="post">
        <input type="text" name="code" placeholder="Enter the code" >
        <input type="text" name="name" placeholder="Enter the name" >
        <input type="text" name="semester" placeholder="Summer/Winter" >
        <button type="submit">Add subject</button>
    </form>
</div>


<!-- Javascript -->
<script type="text/javascript" src="/assets/plugins/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>

</body>
</html>

