<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${subject.getCode() + ' - ' + subject.getName()}">Name</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css">
    <link id="theme-style" rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<body>

<header id="header" class="header">
    <div class="container">
        <h1 class="logo">
            <a href="/">
                <span class="logo-icon-wrapper"><img class="logo-icon"  src="/images/logo.png" alt=""></span>
                <span class="text" ><span class="highlight">FitLab</span></span>
            </a>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="login">Log In</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div id="features" class="features-section">
    <div class="container text-center">
        <a style="font-size: 35px;"><td  th:text="${subject.getName()}">Name</td></a>
    </div>
</div>


</body>
</html>